/*Main Styles*/

* {
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

header {
  height: 54px;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  overflow-x: hidden;
  text-align: center;

}

img {
  display: block;
  height: auto;
  width: 100%;
}

.scroll::-webkit-scrollbar {
  display: none;
}

li,
a {
  list-style: none;
}

svg {
  fill: #fff;
}

svg:hover {
  fill: hsl(180, 66%, 49%);
}


.btn {
  background-color: #2bcdcc;
  border: none;
  color: white;
  text-align: center;
}

.btn:hover {
  background-color: #9BE3E2;
}

.btnSa {
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
}

.btn-copyOnClick:hover {
  background-color: #383055;
  opacity: 60%;
}


/*Mobile Styles*/

.topnav {
  display: flex;
  margin-top: 38px;
}

.topnav img {
  padding-left: 25px;
  width: 80%;
}

#menu {
  color: hsl(0, 0%, 75%);
  margin-left: auto;
  padding-right: 45px;

}

/* Section A */

#section-a {
  margin-bottom: 168px;
  overflow: hidden;
}

#section-a img {
  padding-left: 24px;
}

#section-a .title {
  color: #34313D;
  font-size: 41px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0px;
  margin-top: 56px;
}

#section-a .text {
  color: hsl(257, 7%, 63%);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 14px;
  padding-bottom: 2em;
  padding: 0px 16px;

}

#section-a button {
  font-size: 18px;
  font-weight: bold;
  height: 55px;
  line-height: 55px;
  margin-left: 3px;
  margin-top: 38px;
  padding-bottom: 1em;
  width: 197px;
}

/* Section B */

#section-b {
  left: 50%;
  margin-top: -169px;
  position: absolute;
  transform: translate(-50%);
}

.section-b {
  display: flex;
  justify-content: center;
  left: 50%;
  margin-top: -200px;
  position: relative;
  transform: translate(-50%);
}


#section-b div {
  align-content: space-around;
  background-color: #383055;
  background-image: url("images/bg-shorten-mobile.svg");
  background-position: top right;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 158px;
  margin-top: 89px;
  width: 325px;
  z-index: -1;
}

#section-b .divActive {
  padding-top: 24px;
}

#section-b input,
button {
  border-radius: 5px;
  border: none;
  height: 46px;
  margin-left: 24px;
}

#section-b input::placeholder {
  color: hsl(257, 7%, 63%);
}

#section-b input {
  color: hsl(257, 7%, 63%);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 24px;
  padding-left: 15px;
  width: 260px;
}

#section-b .inputActive {
  border: 3px solid #e27476;
  height: 40px;
  margin-bottom: 37px;
  margin-top: 0px;
  outline-style: none;
  width: 259px;
}

#section-b .inputActive::placeholder {
  color: #e27476;
  opacity: 50%;
}

.alertMessage {
  display: none;
}

.alertMessageActive {
  color: #e27476;
  display: block;
  font-size: 12px;
  font-style: italic;
  left: 24px;
  margin: 0;
  position: absolute;
  top: 165px;
}

#section-b button {
  font-size: 18px;
  font-weight: 500;
  height: 48px;
  outline-style: none;
  width: 275px;
}

#section-b .buttonAvtive {
  width: 278px;
}

.btn-copyOnClick {
  background-color: #383055;
  content: "Copied!";
}

/* Section C */

#section-c {
  background: #f0f1f6;
  padding-bottom: 80px;
  padding-top: 136px;
  z-index: 1;
}

.advanceS {
  margin-top: 88px;
}

#section-c .title2 {
  color: #34313D;
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 0px;
  margin-top: 28px;
}

#section-c .text2 {
  color: hsl(257, 7%, 63%);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.9;
  margin-bottom: 42px;
  padding-bottom: 2em;
  padding: 0px 16px;
}

#section-c .card {
  background: white;
  border-radius: 5px;
  height: 266px;
  left: 50%;
  margin-bottom: 92px;
  position: relative;
  transform: translate(-50%);
  width: 328px;
}

.card-link {
  background: white;
  border-radius: 5px;
  height: 100%;
  left: 50%;
  margin-bottom: 49px;
  margin-top: -24px;
  position: relative;
  transform: translate(-50%);
  width: 328px;
}

.title-card-link {
  color: #000000;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-left: 15px;
  overflow: hidden;
  padding-top: 15px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 91%;
}

.text-card-link {
  border: none;
  border-top: 0.5px solid #f0f0f0;
  color: #2bcdcc;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  outline: none;
  overflow: hidden;
  padding: 15px 0 15px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95.5%;
}

.btn-card-link {
  font-size: 15px;
  font-weight: 900;
  height: 38px;
  margin-bottom: 17px;
  margin-left: 0;
  width: 295px;
}

#section-c .card-middle {
  height: 283px;
}

#section-c .card3 {
  margin-bottom: 0px;
}


.circle {
  background: #3a3053;
  border-radius: 50%;
  height: 88px;
  margin-left: 143px;
  margin-top: -44px;
  position: absolute;
  width: 88px;
}

.img_circle {
  height: auto;
  margin-left: 24px;
  margin-top: 24px;
  position: absolute;
  width: 40px;
}

.line {
  background: #2bcdcc;
  height: 50px;
  left: 50%;
  margin-top: -92px;
  position: absolute;
  transform: translate(-50%);
  width: 8px;
}

#section-c ul {
  padding-left: 0;
  padding-top: 23px;
}

.title-card {
  color: #34313D;
  font-size: 21px;
  font-weight: 900;
  margin-bottom: 0px;
  padding-top: 76px;
}

.text-card {
  color: hsl(257, 7%, 63%);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.9;
  margin-bottom: 0px;
  padding-bottom: 2em;
  padding: 0px 30px;
}

/*Section D*/

#section-d {
  align-content: space-around;
  background-color: #383055;
  background-image: url("images/bg-boost-mobile.svg");
  background-position: top right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 298px;
  margin-top: -17px;
  width: auto;
}


#section-d .title {
  color: white;
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 0px;
  padding-top: 71px;
}

.btnSection-d {
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  font-size: 19px;
  font-weight: 900;
  height: 56px;
  margin-left: 0px;
  margin-top: 16px;
  width: 195px;
}

/*Section f*/

#section-f {
  background-color: hsl(260, 8%, 14%);
}

#section-f .img_logo {
  /* fill: #fff; */
  display: inline;
  padding-top: 55px;
}

#section-f .img_logo:hover {
  fill: white;
}

#section-f .card {
  margin-top: 43px;
}

#section-f .card-middle {
  margin-top: 36px;
}

#section-f p {
  color: white;
  font-size: 15px;
  font-weight: 900;
}

#section-f li {
  color: hsl(257, 7%, 63%);
  font-size: 15px;
  line-height: 2.1;
}

#section-f li:hover {
  color: hsl(180, 66%, 49%);
}

.icons {
  display: flex;
  justify-content: space-around;
  margin: 0 94px;
  padding-bottom: 55px;
}

#section-f .redes {
  width: 24px;
}



/*Barra de Navegación*/

.links {
  background: #3a3053;
  border-radius: 10px;
  font-size: 12px;
  height: 383px;
  /* margin-left: 24px; */
  position: absolute;
  width: 325px;
}

/* El boton que saca la barra*/

.topnav a.icon {
  background: white;
  color: hsl(257, 7%, 63%);
  position: absolute;
}

.btn-menu {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  margin-left: 24px;
  width: 278px;
}

.menu {
  display: none;
  flex-direction: column;
  /* margin: 0 15px; */
  transform: translate(-50%);
  left: 50%;
  margin: 0;
}

.option {
  color: white;
  font-size: 18px;
  font-weight: 600;
  list-style: none;
  margin-top: 40px;
  text-decoration: none;
}

.option2 {
  margin-top: 30px;
}

.option-border {
  border-top: 1px #473d60 solid;
  margin-top: 30px;
  margin: 0 24px;
  padding-top: 30px;
}

.icon {
  background-image: url('images/icon-brand-recognition.svg');
  display: block;
  height: 40px;
  width: 40px;
}

.icon2 {
  background-image: url('images/icon-detailed-records.svg');
}

.icon2-bottom {
  bottom: 238px !important;
}

.icon3 {
  background-image: url('images/icon-fully-customizable.svg');
  height: 48px;
  width: 48px;
}

.icon-container {
  align-items: center;
  background: #3a3053;
  border-radius: 50%;
  /* bottom: 220px; */
  display: flex;
  height: 88px;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 88px;
  top: -40px;
}

.web {
  display: none;
}


/* Web Design */

@media (min-width: 800px) {
  .topnav--bold {
    font-size: 15px;
  }

  .web {
    display: flex;
    justify-content: flex-start;
    padding: 0 11.5%;
    width: 100%;
  }

  .active {
    display: none;
  }

  #menu {
    display: none;
  }

  .menu {
    display: none !important;
  }

  .topnav img {
    margin-right: 0px;
    padding-left: 0px;
    width: auto;
  }

  .topnav--bold {
    color: #9A999E;
    font-size: 14px;
    font-weight: 900;
    margin-left: 30px;
    text-decoration: none;
  }

  .topnav--bold:hover {
    color: #000;
  }

  .btnSup {
    margin-top: -10px;
    height: 165%;
    /* width: 9.5%; */
    width: 12%;
  }

  .topnav--btn {
    color: white;
    font-size: 14px;
    font-weight: 900;
    height: 55px;
    margin-left: 0px;
    padding: 0;
    width: 197px;
  }

  .topnav--btn:hover {
    color: white !important;
  }

  .login {
    margin-left: auto;
  }

  /* Section a*/
  #section-a {
    padding-top: 75px;
  }

  /* Section b */

  #section-b {
    width: 77%;
  }

  #section-b div {
    align-items: center;
    background-image: url(images/bg-shorten-desktop.svg);
    flex-direction: row;
    height: 162px;
    width: 100%;
  }

  #section-b .divActive {
    padding-top: 0px;
  }

  #section-b button {
    border-radius: 10px;
    height: 60px;
    margin: 0px 63px 0 24px;
    outline-style: none;
  }

  #section-b input {
    border-radius: 10px;
    font-size: 20px;
    height: 60px;
    margin: 0 0 0 63px;
    padding-left: 33px;
    width: 100%;
  }

  #section-b .inputActive {
    border-radius: 10px;
    border: 3px solid #e27476;
    height: 60px;
    margin: 0 0 0 63px;
    width: 100%;
  }

  .alertMessageActive {
    /* display: block; */
    color: #e27476;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    left: 60px;
    top: 210px;
  }

  .card-link {
    align-items: center;
    display: flex;
    height: 73px;
    justify-content: space-between;
    width: 77%;
  }

  .btn-card-link {
    height: 40px;
    margin: 0 22px;
    width: 10%;
  }

  .title-card-link {
    font-size: 20px;
    margin: 0;
    margin-left: 32px;
    max-width: 60%;
    padding: 0;
    text-align: left;
  }

  .text-card-link {
    border: none;
    font-size: 18px;
    margin-left: auto;
    padding: 0;
    width: 20%;
  }


  .btn-card-link {
    font-size: 13px;
  }

}

@media (min-width: 960px) {

  .topnav--btn {
    padding: 0px;
    font-size: 14px;
  }

  .btnSup {
    width: 9.5%;
  }

  /* Section a */

  #section-a {
    margin: 0 0 148px 0;
    padding: 75px 11.5% 36px 11.5%;
    text-align: left;
    background-image: url('images/illustration-working.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 115%;
    background-position-y: 50px;
    background-size: 60%;
  }

  #section-a div {
    width: 60%;
  }

  #section-a .title {
    /* font-size: 57px; */
    font-size: 45px;

  }

  #section-a .text {
    /* font-size: 25px;
    font-size: 22px; */
    font-size: 16px;
    padding-left: 0px;
    padding-right: 155px;
  }

  .img_web {
    display: none;
    align-items: center;
    justify-content: center;
  }

  #section-a img {
    transform: translate(65px, 0px);
    height: auto;
    width: 115%;
  }


  /* Section c */

  #section-c {
    padding-top: 127px;
    padding-bottom: 110px;

  }

  #section-c .title2 {
    font-size: 40px;
  }

  #section-c .text2 {
    font-size: 18px;
    padding: 0px 32%;
    margin-top: 10px;
  }

  #section-c ul {
    display: flex;
    flex-wrap: wrap;
    padding: 95px 11.5% 0px 11.5%;
    position: relative;
  }

  .line1,
  .line2 {
    display: none;
  }

  #section-c li {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #section-c li::before {
    background-color: #2bcdcc;
    content: '';
    display: block;
    height: 10px;
    margin-left: 70px;
    margin-top: 105px;
    position: absolute;
    width: 50%;
    z-index: 1;
  }

  #section-c .card {
    left: 0%;
    margin: 0 15px;
    text-align: left;
    transform: translate(0px, 0px);
    width: 350px;
    flex: 0 0 calc(33.3% - 30px);
    z-index: 2;
    position: relative;
    height: auto;
  }

  #section-c .card1 {
    margin-top: -30px;

  }

  #section-c .card3 {
    margin-top: 30px;
  }

  .title-card {
    font-size: 22px;
    padding-left: 30px;
    padding-top: 52px;
  }

  .text-card {
    font-size: 15px;
    line-height: 1.7;
    padding: 0px 31px;
  }

  .icon-container {
    left: 0%;
    margin-left: 30px;
    transform: translate(0px, -5px);
  }

  .icon2-bottom {
    bottom: 220px !important;
  }

  #section-d {
    background-image: url(images/bg-boost-desktop.svg);
    height: 252px;
  }

  #section-d .title {
    font-size: 38px;
    padding: 20px;
  }

  .btnSection-d {
    margin: 5px;
  }

  .section-f {
    display: flex;
    height: 312px;
    justify-content: flex-end;
    padding: 0 11.5%;
    width: auto;
  }

  #section-f .card {
    margin: 36px 4.4%;
    text-align: left;
  }

  #section-f .card-middle {
    margin: 36px 3.5%;
    text-align: left;
  }

  #section-f .card-margin {
    margin-left: 2.9%;
    margin-right: 4%;
  }

  #section-f .img_logo {
    height: 32px;
    margin-right: 9.5%;
    width: 230px;
  }

  #section-f .icons {
    margin-left: 3%;
    margin-right: 0%;
    margin-top: 60px;
    width: 190px;
  }
}

@media (min-width: 965px) {
  .section-f {
    flex-wrap: wrap;
    height: auto;
  }
}

@media (min-width: 1020px) {

  .topnav--btn {
    padding: 0px;
    font-size: 15px;
  }

  #section-a {
    background-size: 60%;
    padding-bottom: 3.5%;
  }

  #section-a .title {
    font-size: 47px;
  }

  .line1,
  .line2 {
    display: none;
  }

}

@media (min-width: 1106px) {
  #section-a .title {
    font-size: 54px;
  }
}

@media (min-width: 1152px) {
  #section-a .title {
    font-size: 60px;
  }

  #section-a .text {
    font-size: 18px;
  }
}


@media (min-width: 1226px) {

  #section-c .card {
    height: 267px;
  }
}

@media (min-width: 1280px) {

  #section-a {
    background-size: auto;
  }

  #section-a .title {
    font-size: 70px;
  }

  #section-c .card {
    height: 267px;
  }
}

@media(min-width:1300px) {
  #section-a .title {
    font-size: 76.5px;
    margin-top: 64px;
  }
}

@media(min-width:1370px) {

  #section-c .card_detailed-records {
    transform: translate(0px, 0px);
  }

}

@media(min-width:1760px) {
  #section-a {
    background-position-x: 105%;
  }

  #section-a .title {
    font-size: 80px;
  }

  #section-a .text {
    padding-right: 223px;
    font-size: 25px;
  }

}
