/*Main Styles*/

* {
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

header {
  width: 100%;
  height: 54px;
}

body {
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;

}

img {
  display: block;
  width: 100%;
  height: auto;
}

.scroll::-webkit-scrollbar {
  display: none;
}

li,
a {
  list-style: none;
}


.btn {
  background-color: #2bcdcc;
  color: white;
  border: none;
  text-align: center;
}

.btnSa {
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
}


/*Mobile Styles*/

#showcase {
  display: flex;
  margin-top: 38px;
}

#showcase img {
  padding-left: 25px;
  width: 80%;
}

#menu {
  margin-left: auto;
  padding-right: 45px;
  color: hsl(0, 0%, 75%);

}

/* Section A */

#section-a {
  margin-bottom: 168px;
  overflow: hidden;
}

#section-a img {
  width: 495px;
  padding-left: 24px;
}

#section-a .title {
  font-weight: 900;
  font-size: 41px;
  color: #34313D;
  margin-bottom: 0px;
  line-height: 1.2;
  margin-top: 56px;
}

#section-a .text {
  font-weight: 500;
  font-size: 18px;
  padding: 0px 16px;
  color: hsl(257, 7%, 63%);
  margin-bottom: 0px;
  padding-bottom: 2em;
  margin-top: 14px;

}

#section-a button {
  width: 197px;
  height: 55px;
  line-height: 55px;
  padding-bottom: 1em;
  font-size: 18px;
  font-weight: bold;
  margin-left: 3px;
}

/* Section B */

#section-b {
  position: absolute;
  margin-top: -169px;
}

#section-b div {
  z-index: -1;
  border-radius: 10px;
  margin-top: 91px;
  margin-left: 25px;
  height: 158px;
  width: 325px;
  background-image: url("images/bg-shorten-mobile.svg");
  background-color: #383055;
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#section-b .divActive {
  padding-top: 24px;
}

#section-b input,
button {
  height: 46px;
  border-radius: 5px;
  border: none;
  margin-left: 24px;
}

#section-b input {
  width: 260px;
  margin-top: 24px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 16px;
  color: hsl(257, 7%, 63%);
}

#section-b .inputActive {
  border: 3px solid #e27476;
  margin-top: 0px;
  margin-bottom: 37px;
  height: 40px;
  width: 259px;
}

.alertMessage {
  display: none;
}

.alertMessageActive {
  margin: 0;
  position: absolute;
  margin-top: 50px;
  margin-left: 24px;
  font-size: 12px;
  color: #e27476;
  font-style: italic;
  display: block;
}

#section-b button {
  width: 275px;
  height: 48px;
  font-weight: 500;
  font-size: 18px;
}

#section-b .buttonAvtive {
  width: 278px;
}

/* Section C */

#section-c {
  padding-top: 136px;
  background: #f0f1f6;
  z-index: 1;
  padding-bottom: 80px;
}

#section-c .title2 {
  font-weight: 900;
  font-size: 27px;
  color: #34313D;
  margin-bottom: 0px;
  margin-top: 30px;
}

#section-c .text2 {
  font-weight: 500;
  font-size: 16px;
  padding: 0px 16px;
  color: hsl(257, 7%, 63%);
  margin-bottom: 0px;
  padding-bottom: 2em;
  line-height: 1.9;
}

#section-c .card {
  background: white;
  height: 266px;
  width: 328px;
  margin-left: 24px;
  border-radius: 5px;
  margin-bottom: 92px;
}

#section-c .card2 {
  height: 283px;
}

#section-c .card3 {
  margin-bottom: 0px;
}


.circle {
  position: absolute;
  border-radius: 50%;
  height: 88px;
  width: 88px;
  background: #3a3053;
  margin-left: 143px;
  margin-top: -44px;
}

.img_circle {
  position: absolute;
  width: 40px;
  height: auto;
  margin-top: 24px;
  margin-left: 24px;
}

.line {
  position: absolute;
  background: #2bcdcc;
  height: 50px;
  width: 8px;
  margin-top: -90px;
  margin-left: 184px;
}

#section-c ul {
  padding-left: 0;
  padding-top: 23px;
}

.title-card {
  font-weight: 900;
  font-size: 21px;
  color: #34313D;
  margin-bottom: 0px;
  padding-top: 76px;
}

.text-card {
  font-weight: 500;
  font-size: 15px;
  padding: 0px 30px;
  color: hsl(257, 7%, 63%);
  margin-bottom: 0px;
  padding-bottom: 2em;
  line-height: 1.9;
}

/*Section D*/

#section-d {
  width: 375px;
  height: 298px;
  margin-top: -17px;
  background-image: url("images/bg-boost-mobile.svg");
  background-color: #383055;
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#section-d .title {
  font-weight: 900;
  font-size: 26px;
  color: white;
  margin-bottom: 0px;
  padding-top: 71px;
}

.btnSection-d {
  height: 56px;
  width: 195px;
  margin-top: 16px;
  margin-left: 0px;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  font-weight: 900;
  font-size: 19px;
}

/*Section f*/

#section-f {
  background-color: hsl(260, 8%, 14%);
}

#section-f .img_logo {
  display: inline;
  margin-top: 0px;
  padding-top: 55px;
  width: 123px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(172deg) brightness(106%) contrast(105%);

}

#section-f .card {
  margin-top: 43px;
}

#section-f .card2 {
  margin-top: 36px;
}

#section-f p {
  font-weight: 900;
  font-size: 15px;
  color: white;
}

#section-f li {
  color: hsl(257, 7%, 63%);
  font-size: 15px;
  line-height: 2.1;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin: 0 94px;
  padding-bottom: 55px;
}

#section-f .redes {
  width: 24px;
}



/*Barra de Navegación*/

#myLinks {
  position: absolute;
  font-size: 12px;
  height: 383px;
  width: 325px;
  background: #3a3053;
  border-radius: 10px;
  margin-left: 24px;
}

/* El boton que saca la barra*/
#showcase a.icon {
  background: white;
  color: hsl(257, 7%, 63%);
  position: absolute;
}

.btn-menu {
  width: 278px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

.menu {
  display: none;
  flex-direction: column;
  margin: 0 15px;
}

.option {
  list-style: none;
  color: white;
  text-decoration: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}

.option2 {
  margin-top: 30px;
}

.option-border {
  padding-top: 30px;
  margin: 0 24px;
  margin-top: 30px;
  border-top: 1px #473d60 solid;
}
